@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');
@font-face {
  font-family: "huno";
  src: url("../fuente/Viory.ttf") format("truetype");
}
h1 {
  font-family: 'Bree Serif', serif;
}
h2 {
  color: #C0392B ;
  font-family:"huno";
  font-size: 3vw
}
h3{
  color: #C0392B ;
  font-family: 'Teko', sans-serif;
}
li {
  font-family: 'Share Tech Mono', monospace;
  color: #EC7063 ;
}
a img:hover {
  background-color: #EC7063 ;
}
nav {
  display: flex;
  justify-content: space-between;
}
.nav {
  position: fixed;
  top: 0 ;
  left: 0 ;
  right: 0 ;
  padding: 0 0 ;
  width: 100%;
  height: 4rem;
  background-color: #922B21;
}
.cuentas img {
  display: flex;
  flex-direction: column;
  height: 27% ;
  margin: 20% 0 0 -50%
}
nav h1 {
   font-size: 1.8em;
   font-style: italic;
   text-decoration: underline;
   color: #EC7063 ;
}
.logo {
  height: 100%
}

header div {
  display:flex;
  justify-content: center;
  flex-direction: column;
  margin: 5% ;
}
header h1 {
  text-align: center;
  margin-top: 5% ;
  margin-bottom: 0 ;
  color: #922B21 ;
  font-weight:bold;
  font-size: 4vw ;
}
section {
  display:flex;
  justify-content: center;
  flex-direction: column;
  margin: 5% ;
}
.receta {
  margin-bottom: 0 ;
  text-decoration: underline;
}
.papa iframe {
  width: 100% ;
  height: 45vw ;
}
main {
  margin-top: 0 ;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 5% ;
}
.lado {
  font-size: 2rem
}
aside {
  display: flex;
  justify-content: flex-start;
  margin: 5% ;
  margin-bottom: 0 ;
}
footer {
  display: flex;
  justify-content: space-between;
  margin: 5% ;
  background-color: #922B21;
}
footer iframe {
  width: 14rem ;
  height: 14rem ;
}
footer ul li {
  color: #EC7063 ;
  margin-top: 15% ;
  margin-right: 5% ;
  list-style: none;
}
.sclass {
  font-family: sans-serif;
  text-decoration: underline;
}
footer li a {
  color: #EC7063 ;
  text-decoration: none;
}
footer a:hover {
  background-color: #EC7063 ;
  color: #922B21;
}
.cuentas2 img {
  width: 3rem ;
  margin: 4rem 0.5rem
}
